<div *ngIf="!!message" class="alert">
    <span class="closebtn" (click)="removeMessage()">&times;</span>
    {{message}}
</div>
<div id="form-container">
    <h3>What do you want to do today?</h3>
    <div *ngIf="role=='superAdmin'">
        <a [routerLink]="['/superAdmin/newClubProposals']"> See all the new club proposals</a>
    </div>
    <div *ngIf="role=='guest'">
        <a [routerLink]="['/guest/clubs']"> See all the clubs</a>
        <a [routerLink]="['/guest/new-club-proposal']"> Insert new club proposal</a>        
    </div>
    <div *ngIf="role=='admin'">
        <a [routerLink]="['/admin/matches-by-date']"> See all the matches by date </a>
        <a [routerLink]="['/admin/courts']"> See all the courts</a> 
        <a [routerLink]="['/admin/insert-court']"> Insert new court</a>
        <a [routerLink]="['/admin/notices']"> See all the notices</a>
        <a [routerLink]="['/admin/insert-notice']"> Insert new notice</a>
        <a [routerLink]="['/admin/join-proposals']"> See the join proposals to your club</a>
    </div>
    <div *ngIf="role=='player'">
        <a [routerLink]="['/player/verify-availability']"> Verify the availability of the courts </a>
        <a [routerLink]="['/player/find-match-by-date']"> Find matches by date </a>
        <a [routerLink]="['/player/padel-match']"> Find all the matches </a>
    </div>
</div>