.alert {
    margin-top: -100px;
    padding: 20px;
    background-color: #36aef4;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  div {
    margin-bottom:100px;
   }

   #form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: -90px;
    margin-left:10px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;

  }

  a {
    display: block;
    color: white;
    background-color: teal;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
  }