<div *ngIf="!!message" class="alert">
    <span class="closebtn" (click)="removeMessage()">&times;</span>
    {{message}}
</div>
<div id="form-container">
    <h3>What do you want to do today?</h3>
    <div *ngIf="role=='superAdmin'">
        <a [routerLink]="['/superAdmin/newClubProposals']"> See all the new club proposals</a>
    </div>
    <div *ngIf="role=='guest'">
        <a [routerLink]="['/guest/clubs']"> See all the clubs</a>
        <a [routerLink]="['/guest/new-club-proposal']"> Insert new club proposal</a>        
    </div>
</div>