<div *ngIf="clubs.length===0"><p class="spin"></p></div>
<table id="Clubs">
    <thead>
        <tr> 
            <th>Name</th>
            <th>City</th>
            <th>Logo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngFor="let club of clubs"> 
        <td> {{club.name}} </td>
        <td> {{club.city}} </td>
        <td class="img-space"> <img [src]="club.logo" /> </td>
        <td><button [routerLink]="['/guest/join-club',club.id]" class="buttonClub" > Ask to join </button></td>
    </tbody>
</table>